<div class="container pt-5 mb-5">
  <form action="#">
    <h3 class="d-flex mb-3">
      <span class="me-auto">New Article</span>
      <a href="#!/articles" class="btn btn-sm btn-secondary me-2"> Cancel </a>
      <button type="submit" class="btn btn-sm btn-success">Save changes</button>
    </h3>
    <div class="card">
      <div class="card-header">Add your article data</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="title" class="col-form-label">Title:</label>
          <input type="text" class="form-control" id="title" />
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="fimage" class="form-label">Feature Image</label>
            <input class="form-control" type="file" id="fimage" />
          </div>
          <div class="col-md-4">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category">
              <option value="1">Indoor</option>
              <option value="2">Outdoor</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="pdate" class="form-label">Publish Date</label>
            <input class="form-control" type="date" id="pdate" />
          </div>
        </div>
        <div class="mb-3">
          <label for="scontent" class="col-form-label">Short Content:</label>
          <textarea name="scontent" id="scontent" class="form-control" rows="5">
Rubber plants, also known as Ficus elastica. These plants are known for their glossy oval-shaped leaves, which add a tropical vibe to any room. Rubber plant care is easy, and there are several advantages…</textarea
          >
        </div>
        <div class="mb-3">
          <label for="fcontent" class="col-form-label">Full Content:</label>
          <ng-quill-editor
            id="fcontent"
            name="fcontent"
            ng-model="content"
          ></ng-quill-editor>
        </div>
      </div>
    </div>
  </form>
</div>
