<div class="container pt-5 mb-5">
  <h3 class="mb-3">Update Article</h3>

  <div class="row mb-3">
    <div class="col-md-8">
      <form action="#">
        <input type="hidden" id="id" value="{{postData.id}}" />
        <div class="card">
          <div class="card-header">Update Basic Details</div>
          <div class="card-body">
            <div class="mb-3">
              <label for="title" class="col-form-label">Title:</label>
              <input
                type="text"
                class="form-control"
                id="title"
                value="{{postData.title}}"
              />
            </div>
            <div class="row mb-3">
              <div class="col-md-8">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category">
                  <option value="1" selected>Indoor</option>
                  <option value="2">Outdoor</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="pdate" class="form-label">Publish Date</label>
                <input
                  class="form-control"
                  type="date"
                  id="pdate"
                  value="{{postData.published}}"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="scontent" class="col-form-label"
                >Short Content:</label
              >
              <textarea
                name="scontent"
                id="scontent"
                class="form-control"
                rows="5"
              >
{{postData.shortContent}}
              </textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-success">
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Update Feature Image</div>
        <img src="{{postData.fimage}}" class="card-img-bottom" alt="..." />
        <div class="card-body">
          <form action="#">
            <div class="mb-3">
              <label for="fimage" class="form-label">Feature Image</label>
              <input class="form-control" type="file" id="fimage" />
            </div>
            <button type="submit" class="btn btn-sm btn-success">
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <form action="#">
      <div class="card-header">Update Full Content</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="fcontent" class="col-form-label">Full Content:</label>
          <ng-quill-editor
            id="fcontent"
            name="fcontent"
            ng-model="postData.content"
          ></ng-quill-editor>
        </div>
        <button type="submit" class="btn btn-sm btn-success">
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
